extends layout

block content
  p="Movie Name : "+currentMovie.movieName
  p="Movie Director : "+currentMovie.movieDirector
  p="Movie Year : "+currentMovie.movieYear
  p="Movie Rating : "+currentMovie.movieRating
  p="Movie Type : "+currentMovie.movieType
  
